// App-specific styles go here

body {
  background: white;
  font-family: $font-family-sans-serif;
}

.navbar.special-feature {
  position: static;
  .article-title-container {
  	opacity: 1;  	
  }
  .article-title {
  	color: #aaa;
  	cursor: default;
  	font-weight: 700;
  	font-size: 1.2em;
  }
}

@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ie-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@keyframes shake {
  0% {
    @include prefix(transform, 'translate(0, 0) rotate(0) skewX(0)');
  }
  20% {
    @include prefix(transform, 'translate(-1px, -1px) rotate(0.00674532925rad) skewX(0)');
  }
  40% {
    @include prefix(transform, 'translate(1px, 1px) rotate(0) skewX(0)');
  }
  60% {
    @include prefix(transform, 'translate(1px, -1px) rotate(0) skewX(0.00274532925rad)');
  }
  80% {
    @include prefix(transform, 'translate(-1px, 1px) rotate(0.00674532925rad) skewX(0)');
  }
  100% {
    @include prefix(transform, 'translate(0, 0) rotate(0) skewX(0)');
  }
}

.comic {
	margin: 0 auto;
	max-width: 1200px;
	// background: lime; 
	width: 100%;
	overflow: hidden;
	padding-bottom: 15%;
}

.panel {
	width: 100%;
	height: auto;
	padding-bottom: 10%;
  &.shake {
    @include prefix(animation-iteration-count, infinite);
    @include prefix(animation-duration, 5s);
    @include prefix(animation-timing-function, ease-in-out);
    @include prefix(animation-fill-mode, both);
    @include prefix(animation-name, shake);
  }
}

// title
#panel-01 {
	margin-top: 10%;
	margin-bottom: 10%;
}

// training centre
#panel-10 {
	margin-top: 15%;
	margin-bottom: 15%;
}

// detention centre
#panel-22 {
	margin-top: 15%;
	margin-bottom: 15%;
}

// house
#panel-42 {
	margin-top: 15%;
	margin-bottom: 15%;
}


.article-footer {
  position: relative;
  background-color: #000;
padding-top: 20px;
padding-bottom: 20px;
  .credits {
    color: #ccc;
    font-size: 14px;
    list-style: none;
    margin: 4em;
    .tgm {
      display: block;
      width: 250px;
      padding: 1em 0;
      opacity: 0.9;
      &:hover { opacity: 1; }
      img {
      	width: 100%;
      	height: auto;
      }
    }
  }
}

.about-toggle {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  margin-right: 10px;
}

.comic-introduction {
  max-width: 38em;
  margin: 0 auto;
  a {
    color: #333;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
  }
}