// App-specific styles go here


.article-footer {
  position: relative;
  background-color: #000;
  .credits {
    color: #ccc;
    font-size: 14px;      
    list-style: none;
    margin: 4em;
	  padding-top: 40px;
	  padding-bottom: 40px;
    .tgm {
      display: block;
      width: 492px / 2;
      padding: 1em 0;
      opacity: 0.9;
      &:hover { opacity: 1; }
    }
  }
}
