// TGM Responsive Variables

$smaller-width:  550px;    // -phones
$small-width:    780px;    // -big phones, small tablets
$med-width:      900px;    // -portrait tablets
$big-width:      1180px;   // -landscape tablets, smaller screens
$bigger-width:   $big-width + 1px;   // -big screens (default, used as min-width)

$med-screen-margin: 20px;
$sml-screen-margin: 10px;

// Big stuff
@media only screen and (max-width: $big-width) {
	.brand {
		display: none !important;
	}
	.article-title-container {
		width: auto !important;
		float: left !important;
		padding-left: 10px;
	}
	.navbar.special-feature {
		height: 32px;
	}
}

// Portrait tablets
@media only screen and (max-width: $med-width) {
	.navbar.special-feature .special-feature-misc .share-button {
		display: none;
	}

}

// Big phones, small tablets
@media only screen and (max-width: $small-width) {
	.special-feature-misc { display: block !important; }
	.navbar.special-feature { padding: 8px 0px; }
	.article-title-container { float: left !important; }
} 

// Phones
@media only screen and (max-width: $smaller-width) {
	.navbar.special-feature .special-feature-misc .share-button {
		display: none;
	}

	.article-footer {
		.credits {
			margin: 1em !important;
		}
	}

}
