// TGM Type Variables

// Fontstacks
$font-family-sans-serif:  "Open Sans", "open-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;

// Type settings
$par-font-size:           20;
$par-font-size-px:        20px;